@page "/"
<PageTitle>工作台</PageTitle>

<MRow>
    <MCol>
        <MCard>
            <MListItem TwoLine>
                <MListItemContent>
                    <div class="text-overline mb-4">
                        所有任务
                    </div>
                    <MListItemTitle Class="text-h2 mb-1 text-center font-weight-medium">
                        @_pageData.TotalTaskCount
                    </MListItemTitle>
                </MListItemContent>
            </MListItem>
        </MCard>
    </MCol>
    <MCol>
        <MCard>
            <MListItem TwoLine>
                <MListItemContent>
                    <div class="text-overline mb-4">
                        闲置的任务
                    </div>
                    <MListItemTitle Class="text-h2 mb-1 text-center font-weight-medium">
                        @_pageData.PickingTaskCount
                    </MListItemTitle>
                </MListItemContent>
            </MListItem>
        </MCard>
    </MCol>
    <MCol>
        <MCard>
            <MListItem TwoLine>
                <MListItemContent>
                    <div class="text-overline mb-4">
                        进行中的任务
                    </div>
                    <MListItemTitle Class="text-h2 mb-1 text-center font-weight-medium">
                        @_pageData.ActiveTaskCount
                    </MListItemTitle>
                </MListItemContent>
            </MListItem>
        </MCard>
    </MCol>
    <MCol>
        <MCard>
            <MListItem TwoLine>
                <MListItemContent>
                    <div class="text-overline mb-4">
                        完成的任务
                    </div>
                    <MListItemTitle Class="text-h2 mb-1 text-center font-weight-medium">
                        @_pageData.EndTaskCount
                    </MListItemTitle>
                </MListItemContent>
            </MListItem>
        </MCard>
    </MCol>
</MRow>
<MRow>
    <MCol>
        <MCard>
            <MListItem TwoLine>
                <MListItemContent>
                    <div class="text-overline mb-4">
                        月度统计
                    </div>
                    <MListItemSubtitle>
                        <div class="d-flex align-center justify-center">
                            <MECharts Height="300" Width="@("100%")" Option="_option">
                            </MECharts>
                        </div>
                    </MListItemSubtitle>
                </MListItemContent>
            </MListItem>
        </MCard>
    </MCol>
</MRow>
<MRow>
    <MCol>
        <MCard>
            <MListItem TwoLine>
                <MListItemContent>
                    <div class="text-overline mb-4">
                        任务动态
                    </div>
                    <MListItemSubtitle>
                        <RecentTaskListComponent Data="_pageData.Result">

                        </RecentTaskListComponent>
                    </MListItemSubtitle>
                </MListItemContent>
            </MListItem>
            
        </MCard>
    </MCol>
    <MCol>
        <MCard>
            <RankingsComponent>
            </RankingsComponent>
        </MCard>
    </MCol>
</MRow>